@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  overflow: scroll;
} */

body {
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 12px; /* Adjust the width of the scrollbar */
}

*::-webkit-scrollbar-track {
  /* background: white;
   */
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 45%);
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
  background-clip: padding-box;
  border: 2px solid transparent;
}
